* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.grey {
    color: grey;
}

.main-div {
    padding: 10px 0px;
}

#div-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button-swap {
    padding: 5px;
    font-weight: bold;
}

#button-calc {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}